<div class="board" cdkDropListGroup>
  <ng-container *ngFor="let s of orderedStatuses">
    <div class="column">
      <!-- Верхний блок -->
      <div class="column-header rounded-top">
        <div class="column-header-inner">
          <span class="status">{{ s.replace('_', ' ') }}</span>
          <span class="count">{{ columns[s].length }}</span>
        </div>
      </div>

      <!-- Отступ между блоками -->
      <div class="column-gap"></div>

      <!-- Нижний блок -->
      <div
        class="task-list rounded-bottom"
        cdkDropList
        [cdkDropListData]="columns[s]"
        (cdkDropListDropped)="drop($event, s)"
      >
        <div class="card" *ngFor="let t of columns[s]" cdkDrag (click)="navigateTo(t._id)">
          <h4 class="title">{{ t.title }}</h4>

          <div>
            <div class="section-label">Completed on:</div>
            <div class="progress">
              <div class="bar" [style.width.%]="t.completedOn || 0"></div>
            </div>
          </div>
          <div *ngIf="t.estimatedTime != null && t.spentTime != null">
            <div class="section-label">Time left:</div>
            <div class="progress time">
              <div class="bar" [style.width.%]="100 * (t.spentTime / t.estimatedTime)"></div>
            </div>

            <div class="times">
              <span>{{ t.estimatedTime }}h est</span>
              <span>{{ t.estimatedTime - t.spentTime }}h left</span>
            </div>
          </div>

          <!-- Priority -->
          <span class="priority" [ngClass]="t.priority">{{ t.priority }}</span>

          <!-- Assignee -->
          <div class="assignee" *ngIf="userBy(t.userId) as usr">
            <img *ngIf="usr.avatar; else init" [src]="apiUrl + usr.avatar" alt="avatar" />
            <ng-template #init>
              <div class="ava-initial">{{ usr.name[0] }}</div>
            </ng-template>

            <div class="assignee-text">
              <strong>{{ usr.name }}</strong>
              <small>{{ usr.email }}</small>
            </div>
          </div>

          <!-- Created at -->
          <div class="created-at">{{ t.createdAt | date: 'mediumDate' }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
